Rooms:
  -no rooms in floor 0
  -400 Rooms
  -in 5 floors

Floors:
  -5 floors

Services:
  -all services on floor 0
  -6 Bars
  -4 Restaurants
  -10 Conference rooms
  -4 Gyms
  -10 Saunas
  -1 Hair Saloon
